# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.log
# Virtual env
venv/
.env/
.venv/

# IDE/OS
.vscode/
.idea/
.DS_Store
# Dados pesados (ignora apenas os arquivos grandes específicos)
#data/*.json
#data/*.csv
!data/processed/pairs.parquet
!data/processed/matches.csv
!data/processed/no_matches.csv

.streamlit/secrets.toml