# --- Core UI / Utils ---
streamlit>=1.32,<2
pandas>=2.2.2,<3
numpy>=1.26.4,<2
requests>=2.31,<3
joblib>=1.3.2
psutil>=5.9

# --- NLP Encoder (SBERT) ---
sentence-transformers
huggingface-hub
torch>=2.1

# --- Ranqueamento com XGBoost ---
xgboost>=2.0.3,<3
plotly
wordcloud
# --- AWS / S3 Access ---
boto3
s3fs
smart_open
